.login-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #002347;
  padding: 20px;
}

.login-layout .ant-layout-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 420px;
  margin: 0px 40px;
  padding: 0px 40px;
  border-radius: 16px;
  border: none;
 
  box-shadow: 0 10px 40px rgba(0, 150, 201, 0.15); 
  background: #fff;
}

.login-header {
  text-align: center;
  margin-bottom: 32px;
}

.logo-container {
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
}

.app-logo {
  height: 70px;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.app-logo:hover {
  transform: scale(1.3);
}


.btn-gradient {
  border: none;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  background: #00509d;
  box-shadow: 0 4px 15px rgba(0, 150, 201, 0.3);
  transition: all 0.3s ease;
}

.btn-gradient:hover {
  background: linear-gradient(135deg, #0096C9 0%, #007BA3 100%);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 150, 201, 0.4);
}


.custom-input .ant-input-affix-wrapper {
  padding: 10px 11px;
  border-radius: 8px;
  background-color: #f8fcfd;
  border: 1px solid #e6f7ff;
}

.custom-input .ant-input-affix-wrapper:hover,
.custom-input .ant-input-affix-wrapper:focus,
.custom-input .ant-input-affix-wrapper-focused {
  border-color: #0096C9;
  background-color: #fff;
}